@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #1a1919;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 1vmin;
    height: 1vmin;
    border-radius: 1vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 11;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #8f7e7e;
    top: 38%;
    left: 5%;
    animation-duration: 130s;
    animation-delay: -287s;
    transform-origin: 22vw -3vh;
    box-shadow: -2vmin 0 0.5980849112379628vmin currentColor;
}
.background span:nth-child(1) {
    color: #454545;
    top: 11%;
    left: 96%;
    animation-duration: 105s;
    animation-delay: -119s;
    transform-origin: 16vw 3vh;
    box-shadow: -2vmin 0 0.9976971021163332vmin currentColor;
}
.background span:nth-child(2) {
    color: #8f7e7e;
    top: 38%;
    left: 52%;
    animation-duration: 89s;
    animation-delay: -329s;
    transform-origin: -10vw 15vh;
    box-shadow: -2vmin 0 1.214938457134335vmin currentColor;
}
.background span:nth-child(3) {
    color: #8f7e7e;
    top: 78%;
    left: 91%;
    animation-duration: 83s;
    animation-delay: -173s;
    transform-origin: -1vw -9vh;
    box-shadow: -2vmin 0 0.2904271050089786vmin currentColor;
}
.background span:nth-child(4) {
    color: #8f7e7e;
    top: 22%;
    left: 10%;
    animation-duration: 381s;
    animation-delay: -317s;
    transform-origin: 16vw 11vh;
    box-shadow: -2vmin 0 0.8389495519749078vmin currentColor;
}
.background span:nth-child(5) {
    color: #454545;
    top: 18%;
    left: 28%;
    animation-duration: 89s;
    animation-delay: -287s;
    transform-origin: 3vw 16vh;
    box-shadow: -2vmin 0 0.6093472370862667vmin currentColor;
}
.background span:nth-child(6) {
    color: #8f7e7e;
    top: 33%;
    left: 86%;
    animation-duration: 216s;
    animation-delay: -235s;
    transform-origin: 6vw -3vh;
    box-shadow: 2vmin 0 1.0617225434319697vmin currentColor;
}
.background span:nth-child(7) {
    color: #454545;
    top: 52%;
    left: 26%;
    animation-duration: 8s;
    animation-delay: -358s;
    transform-origin: 6vw 11vh;
    box-shadow: 2vmin 0 1.1323508960462094vmin currentColor;
}
.background span:nth-child(8) {
    color: #6a6a6a;
    top: 21%;
    left: 85%;
    animation-duration: 381s;
    animation-delay: -364s;
    transform-origin: -2vw -13vh;
    box-shadow: 2vmin 0 0.3050258475295633vmin currentColor;
}
.background span:nth-child(9) {
    color: #6a6a6a;
    top: 9%;
    left: 79%;
    animation-duration: 293s;
    animation-delay: -90s;
    transform-origin: -14vw 0vh;
    box-shadow: 2vmin 0 0.9678537835909357vmin currentColor;
}
.background span:nth-child(10) {
    color: #6a6a6a;
    top: 36%;
    left: 93%;
    animation-duration: 165s;
    animation-delay: -248s;
    transform-origin: -12vw -1vh;
    box-shadow: -2vmin 0 0.8573265894977682vmin currentColor;
}
.background span:nth-child(11) {
    color: #6a6a6a;
    top: 43%;
    left: 85%;
    animation-duration: 360s;
    animation-delay: -167s;
    transform-origin: 10vw 25vh;
    box-shadow: -2vmin 0 0.4428655488820147vmin currentColor;
}
.background span:nth-child(12) {
    color: #8f7e7e;
    top: 88%;
    left: 44%;
    animation-duration: 52s;
    animation-delay: -117s;
    transform-origin: 14vw 14vh;
    box-shadow: -2vmin 0 0.6780392445165596vmin currentColor;
}
.background span:nth-child(13) {
    color: #454545;
    top: 13%;
    left: 2%;
    animation-duration: 194s;
    animation-delay: -163s;
    transform-origin: 18vw 7vh;
    box-shadow: -2vmin 0 0.7468382139522595vmin currentColor;
}
.background span:nth-child(14) {
    color: #8f7e7e;
    top: 10%;
    left: 42%;
    animation-duration: 67s;
    animation-delay: -250s;
    transform-origin: 19vw -19vh;
    box-shadow: 2vmin 0 0.5330979276221257vmin currentColor;
}
.background span:nth-child(15) {
    color: #454545;
    top: 19%;
    left: 90%;
    animation-duration: 16s;
    animation-delay: -197s;
    transform-origin: 16vw -22vh;
    box-shadow: 2vmin 0 1.2252419161575108vmin currentColor;
}
.background span:nth-child(16) {
    color: #6a6a6a;
    top: 15%;
    left: 100%;
    animation-duration: 45s;
    animation-delay: -231s;
    transform-origin: -6vw 19vh;
    box-shadow: -2vmin 0 0.9775436196214127vmin currentColor;
}
.background span:nth-child(17) {
    color: #6a6a6a;
    top: 44%;
    left: 71%;
    animation-duration: 58s;
    animation-delay: -230s;
    transform-origin: -22vw -3vh;
    box-shadow: 2vmin 0 0.7364885955614046vmin currentColor;
}
.background span:nth-child(18) {
    color: #6a6a6a;
    top: 17%;
    left: 82%;
    animation-duration: 313s;
    animation-delay: -273s;
    transform-origin: 7vw 21vh;
    box-shadow: 2vmin 0 0.8960902611143977vmin currentColor;
}
.background span:nth-child(19) {
    color: #8f7e7e;
    top: 91%;
    left: 97%;
    animation-duration: 31s;
    animation-delay: -187s;
    transform-origin: -4vw 5vh;
    box-shadow: -2vmin 0 0.5322272456638752vmin currentColor;
}
.background span:nth-child(20) {
    color: #8f7e7e;
    top: 47%;
    left: 45%;
    animation-duration: 76s;
    animation-delay: -371s;
    transform-origin: -8vw -18vh;
    box-shadow: -2vmin 0 1.09143038385764vmin currentColor;
}
.background span:nth-child(21) {
    color: #454545;
    top: 48%;
    left: 61%;
    animation-duration: 43s;
    animation-delay: -323s;
    transform-origin: 23vw 9vh;
    box-shadow: -2vmin 0 0.5663652489465558vmin currentColor;
}
.background span:nth-child(22) {
    color: #6a6a6a;
    top: 91%;
    left: 93%;
    animation-duration: 239s;
    animation-delay: -71s;
    transform-origin: 25vw -2vh;
    box-shadow: -2vmin 0 0.7166141242424734vmin currentColor;
}
.background span:nth-child(23) {
    color: #454545;
    top: 97%;
    left: 19%;
    animation-duration: 304s;
    animation-delay: -77s;
    transform-origin: -10vw -1vh;
    box-shadow: -2vmin 0 0.8547693045636566vmin currentColor;
}
.background span:nth-child(24) {
    color: #6a6a6a;
    top: 27%;
    left: 40%;
    animation-duration: 296s;
    animation-delay: -371s;
    transform-origin: -8vw -7vh;
    box-shadow: 2vmin 0 1.1483752631628992vmin currentColor;
}
.background span:nth-child(25) {
    color: #6a6a6a;
    top: 15%;
    left: 71%;
    animation-duration: 302s;
    animation-delay: -196s;
    transform-origin: 4vw -15vh;
    box-shadow: 2vmin 0 0.8586790732214115vmin currentColor;
}
.background span:nth-child(26) {
    color: #454545;
    top: 84%;
    left: 18%;
    animation-duration: 386s;
    animation-delay: -126s;
    transform-origin: -10vw 17vh;
    box-shadow: -2vmin 0 0.4938875023395435vmin currentColor;
}
.background span:nth-child(27) {
    color: #454545;
    top: 18%;
    left: 66%;
    animation-duration: 110s;
    animation-delay: -145s;
    transform-origin: -7vw -15vh;
    box-shadow: 2vmin 0 0.40478280830060487vmin currentColor;
}
.background span:nth-child(28) {
    color: #8f7e7e;
    top: 93%;
    left: 56%;
    animation-duration: 132s;
    animation-delay: -128s;
    transform-origin: -6vw 3vh;
    box-shadow: -2vmin 0 0.9908324999657789vmin currentColor;
}
.background span:nth-child(29) {
    color: #6a6a6a;
    top: 66%;
    left: 19%;
    animation-duration: 323s;
    animation-delay: -61s;
    transform-origin: 11vw -12vh;
    box-shadow: -2vmin 0 1.0635595739717334vmin currentColor;
}
.background span:nth-child(30) {
    color: #6a6a6a;
    top: 38%;
    left: 45%;
    animation-duration: 70s;
    animation-delay: -312s;
    transform-origin: -4vw -13vh;
    box-shadow: 2vmin 0 1.2079445921702807vmin currentColor;
}
.background span:nth-child(31) {
    color: #8f7e7e;
    top: 41%;
    left: 54%;
    animation-duration: 299s;
    animation-delay: -226s;
    transform-origin: 21vw -15vh;
    box-shadow: 2vmin 0 0.6514360469744157vmin currentColor;
}
.background span:nth-child(32) {
    color: #454545;
    top: 11%;
    left: 81%;
    animation-duration: 322s;
    animation-delay: -241s;
    transform-origin: 12vw 0vh;
    box-shadow: 2vmin 0 0.3217339320664858vmin currentColor;
}
