.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    background-color: black;
    color: white;
    padding-top: 50px;
}

.contact-container p {
    font-size: 12pt;
}

.form-container {
    height: 500px;
    width: 500px;
}

.form-container button {
    max-height: 50px;
    max-width: 100px;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container input {
    background-color: white;
    color: black;
}

.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icons img {
    max-width: 30px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.icons-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    margin: 20px 0px;
}

.back-container {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
