.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    height: 500px;
    max-width: 80%;
    width: 100%;
    background-color: black;
    color: white;
    padding-top: 50px;
    /* border: 2px solid white; */
}

.contact-background {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-container p {
       font-size: clamp(1rem, 2.5vw, 1.25rem);
}

.form-container {
    max-height: 100vh;
    max-width: 100%;
    height: 500px;
    width: 500px;
    font-size: clamp(1rem, 2.5vw, 1.25rem);
}

.form-container button {
    max-height: 100vh;
    max-width: 100%;
    width: 25%;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem, 2.5vw, 1.25rem);

}

.form-container input {
    background-color: white;
    color: black;
    font-size: clamp(1rem, 2.5vw, 1.25rem);

}

.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icons img {
    max-width: 100%;
    width: 30px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.icons-container {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    margin: 20px 0px;
}

.back-container {
    max-height: 100vh;
    height: 200px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-size: clamp(0.5rem, 2.5vw, 1rem);
}
