.headers-container {
    display:flex;
    justify-content: center;
    align-items: center;
    max-height: 50vh;
    width: 100%;
    color: white;
    font-size: clamp(1rem, 2.5vw, 2rem);
    text-decoration: underline;
    /* border: 2px solid white; */
    /* padding: 100px 0px 50px 0px; */
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 10% cover 40%;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.headers-box {
    max-height: 100vh;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 2px solid white; */
    margin: 5%;
}

@media (max-width: 391px) {
    .headers-box {
        max-width: 100%;
    }
}