.hero-container {
    max-height: 100vh;
    height: 1280px;
    max-width: 100%;
    width: 100%;
    /* background-image: url(background2.jpg); */
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}

.hero-container button {
     font-size: clamp(1rem, 2.5vw, 2rem);
}

#hero-header {
    max-width: 50%;
     font-size: clamp(1.25rem, 2.5vw, 4rem);
}

@media (max-width: 390px) {
    #hero-header {
        max-width: 100%;
    }
}